@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar but still allow scrolling */
.no-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}